.gitignore
licence
latex
html
examples
documentation
.ipynb_checkpoints/
IrisME.html
IrisME.zip
T-R.png
T-R_IrisME.dat
T-R_IrisMEadv.dat
HA_geometry.pdf
IrisMEadv_code.zip
example1/chap_I_aux.opj
example1/chapter_I.tex
example1/chapter_II.tex
*.py
example1/example_offnormal/
example1/example_steps/
example1/aux_info/
